/*navigation */
header {
  height: 50px;
  background-color: #2980B9;
  padding-top: 20px;
  color: white;
}

.nav_logo {
  float: left;
  margin-left: 50px;
  color: white;
}

.nav_logo a {
  color: #ECF0F1;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 0.8;
}

.nav {
  float: right;
}

/*clearfix*/
.wrapper::after {
  content: " ";
  display: block;
  clear: both;
}

.nav  ul {
  list-style-type: none;
}

.nav ul li {
  float: left;
}

.nav ul li a {
  display: block;
  width: 130px;
  font-size: 16px;
  text-decoration: none;
  background-color: #2980B9;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.menu_item {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
}
/*navigation */
/*bio*/
#bio {
  background-color: #2C3E50;
  height: 200px;
  color: #ECF0F1;
  padding: 55px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

#bio_p {
  font-size: 18px;
  padding-top: 15px;
  line-height: 1.5;
}
/*bio*/
/*project*/
.project {
  background-color: #3498DB;
  color: #ECF0F1;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 55px;
  height: 800px;
}

.project_header {
    font-size: 24px;
    margin-bottom: 16px;
}

.project_links {
  margin-top: 5px;
  margin-bottom: 80px;

}

#project_two {
  clear: both;
}

#project_three {
  clear: both;
}

#project_four {
  clear: both;
}


.project_links a {
  padding: 5px;
  color: white;
}

.project_img {
  margin-top: 14px;
  margin-bottom: 14px;
  float: left;
  margin-right: 20px;
  width: 200px;
  height: 120px;
}

.project_p {
  margin: 15px;
  line-height: 1.2;
}
/*project*/
/*contact*/
#contact {
  background-color: #ECF0F1;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 55px;
  height: 100px;
  color: #3498DB;
  margin: 0px;
  font-size: 24px;
}

#contact_list li  {
  float: left;
  display: inline-block;
  margin-top: 20px;
}

#contact_list a {
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

/*contact*/




/*media queries*/
@media only screen and (max-width: 730px) {
  .nav ul {
    display: none;
  }

  .menu_item {
    display: block;
    margin-right: 2px;
    cursor: pointer;
  }

  .nav {
    font-size: 20px;
    width: 70px;
    position: relative;
  }

  /*ul appear on click*/
  .nav .jq_nav {
    display: block;
    margin: 10px;
    position: absolute;
    left: -150px;
  }

  .nav ul li {

    margin: 0 auto;
    float: none;
  }

  .nav ul {
    float: none;
    width: 300px;
  }

  .nav ul li a {
    padding: 10px;
    background-color: #2980B9;
    display: block;
    color: white;
    cursor: pointer;
  }

  .nav ul li a:hover {
    background-color: #3498DB;
  }
  #bio {
    height: 400px;
  }

  .project_img {
    width: 310px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .project {
    height: 1500px;
  }
}

@media only screen and (max-width: 450px) {
  .project {
    height: 1700px;
  }
}

@media only screen and (max-width: 400px) {
  .project {
    height: 1800px;
  }
}
